COMPOSE_PROJECT_NAME=dev

# Enable or disable services
IS_MONGO_ENABLED=true
IS_REDIS_ENABLED=true
IS_POSTGRES_ENABLED=true

# Ports
MONGO_PORT=37017
REDIS_PORT=36379
POSTGRES_PORT=35432

# Mongo Credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=changeme

# Redis Credentials
REDIS_PASSWORD=changeme

# Postgres Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme